{{#each games as |game|}}

 <ul data-id="{{game.id}}">
  <li>Game ID: {{game.id}}</li>
  <li>Is the game over?: {{game.over}}</li>
  <li>Score: {{game.score}}</li>
  <li>Round: {{game.round}}</li>
  <li>Player state:
    {{#if game.player_state}}
      {{game.player_state}}
    {{else}}
      No player_state listed yet.
    {{/if}}
  </li>
  <li>Goblin states:
    {{#if game.goblin_state}}
      {{game.goblin_state}}
    {{else}}
      No player_state listed yet.
    {{/if}}
  </li>
  <ul>
    <button type="button" data-id="{{game.id}}">Remove</button>
  </ul>
</ul>

{{/each}}
